In [50]:
import pandas as pd
import numpy as np

In [51]:
# Get the column names
headers = [*pd.read_csv('./data/2021-12-17/listings1.csv', nrows=1)]
# List to contain column names to parse
dates_to_parse = ['last_scraped','host_since','calendar_last_scraped','first_review','last_review']
#Load individual listing files
df1 = pd.read_csv("./data/2021-12-17/listings1.csv", parse_dates=dates_to_parse)
df1['scrape_date'] = '2021-12-17'

df2 = pd.read_csv("./data/2022-03-20/listings2.csv", parse_dates=dates_to_parse)
df2['scrape_date'] = '2022-03-20'

df3 = pd.read_csv("./data/2022-06-13/listings3.csv", parse_dates=dates_to_parse)
df3['scrape_date'] = '2022-06-13'

# The source column is extra in this file. So just retrieve the columns that were listed in earlier scrapes
df4 = pd.read_csv("./data/2022-09-15/listings4.csv", usecols= [col for col in headers], parse_dates=dates_to_parse)
df4['scrape_date'] = '2022-09-15'

# Merge all the dataframe
df_listings = pd.concat([
    df1 , df2, df3,df4
], axis = 0, ignore_index=True)

In [52]:
print(df_listings.shape)
df_listings.tail()

(28135, 75)

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,scrape_date
28130,583169313478293083,https://www.airbnb.com/rooms/583169313478293083,20220915162211,2022-09-16,Stylish condo minutes from Music City Nashville,"This bright, stylish residential condo is the ...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,358890755,https://www.airbnb.com/users/show/358890755,...,4.38,4.75,NaN,t,1,1,0,0,1.42,2022-09-15
28131,36750124,https://www.airbnb.com/rooms/36750124,20220915162211,2022-09-15,Hermitage monthly or longer/2 people max cozy ...,"Nashville/Hermitage, Close to AIRPORT, Cute an...","10 minutes to lakes, marinas, outdoor events. ...",https://a0.muscache.com/pictures/b5741753-9636...,232237589,https://www.airbnb.com/users/show/232237589,...,5.00,5.00,NaN,f,3,2,0,1,0.09,2022-09-15
28132,48625334,https://www.airbnb.com/rooms/48625334,20220915162211,2022-09-16,A spacious and updated 3 bed 2 1/2 townhome!,A spacious 3 bed 2 1/2 bath townhome in La Ver...,NaN,https://a0.muscache.com/pictures/fb28f289-0ff2...,366156295,https://www.airbnb.com/users/show/366156295,...,4.69,4.86,NaN,t,1,1,0,0,8.42,2022-09-15
28133,648366484239998665,https://www.airbnb.com/rooms/648366484239998665,20220915162211,2022-09-16,1 bedroom Home 25min to downtown Nashville,Take a break and unwind at this peaceful oasis...,NaN,https://a0.muscache.com/pictures/a322e82e-ebcc...,12151120,https://www.airbnb.com/users/show/12151120,...,3.50,4.50,NaN,f,2,1,1,0,0.72,2022-09-15
28134,8105862,https://www.airbnb.com/rooms/8105862,20220915162211,2022-09-16,Private bedroom and bath 25 min drive to downtown,Forget your worries in this spacious and seren...,NaN,https://a0.muscache.com/pictures/5a7735ee-4d9a...,12151120,https://www.airbnb.com/users/show/12151120,...,4.78,4.78,NaN,f,2,1,1,0,1.62,2022-09-15

In [53]:
# Get the calendar data
calendar_df1 = pd.read_csv("./data/2021-12-17/calendar1.csv", parse_dates=['date'])
calendar_df1['scrape_date'] = '2021-12-17'

calendar_df2 = pd.read_csv("./data/2022-03-20/calendar2.csv", parse_dates=['date'])
calendar_df2['scrape_date'] = '2022-03-20'

calendar_df3 = pd.read_csv("./data/2022-06-13/calendar3.csv", parse_dates=['date'])
calendar_df3['scrape_date'] = '2022-06-13'

# The source column is extra in this file. So just retrieve the columns that were listed in earlier scrapes
calendar_df4 = pd.read_csv("./data/2022-09-15/calendar4.csv", parse_dates=['date'])
calendar_df4['scrape_date'] = '2022-09-15'

In [54]:
# Get the column names that have no values in it
s_null_values = round(df_listings.isnull().sum() * 100 / df_listings.shape[0])
cols_with_no_values = s_null_values[s_null_values == 100].index.tolist()

# Get the columns that have only one unique value after removing nan's
cols_with_one_uniq = []
df_temp = df_listings.drop(columns = cols_with_no_values)

for col in df_temp.columns:
    list_tmp = df_temp[col].unique().tolist()
    list_tmp = [i for i in list_tmp if not i is np.nan]     
    if len(list_tmp) == 1:
        cols_with_one_uniq.append(col)
cols_with_one_uniq

[]

In [55]:
# These columns either do not have any values or will not be useful or will not be useful right now
cols_to_drop = ['listing_url','scrape_id','last_scraped','host_url','host_thumbnail_url','host_picture_url','host_has_profile_pic','price','minimum_minimum_nights','maximum_minimum_nights'\
                ,'minimum_maximum_nights','maximum_maximum_nights','minimum_nights_avg_ntm','maximum_nights_avg_ntm','calendar_last_scraped'\
                ,'number_of_reviews_ltm','number_of_reviews_l30d','first_review','last_review'\
                ,'calculated_host_listings_count','calculated_host_listings_count_entire_homes','calculated_host_listings_count_private_rooms','calculated_host_listings_count_shared_rooms','reviews_per_month']\
                + cols_with_no_values
df_work_listings = df_listings.drop(columns = cols_to_drop).copy()

In [56]:
# List Columns whose values that will change over time
cols_change_with_time = ['host_response_time','host_response_rate','host_acceptance_rate','host_is_superhost','host_listings_count','host_total_listings_count','amenities','has_availability'\
                            ,'availability_30','availability_60','availability_90','availability_365','number_of_reviews','review_scores_rating','review_scores_accuracy','review_scores_cleanliness'\
                            , 'review_scores_checkin','review_scores_communication','review_scores_location','review_scores_value','instant_bookable'
                        ]
# Create the dataframe with general information of the listings. Take the listings from the latest scrape to have latest info
df_listing_geninfo = df_work_listings.loc[:,~df_work_listings.columns.isin(cols_change_with_time)].copy()
# drop duplicates & keep the latest
df_listing_geninfo = df_listing_geninfo.sort_values(by = 'scrape_date', ascending=False).drop_duplicates(subset = 'id')
df_listing_geninfo.shape

(9610, 26)

In [57]:
# Function to define the quarter
def assign_quater(x):
    if x == '2021-12-17':
        y = 'Q1'
    elif x == '2022-03-20':
        y = 'Q2'
    elif x == '2022-06-13':
        y = 'Q3'
    else:
        y = 'Q4'
    return y

In [58]:
# Create a dataframe for the columns of the listings that might change at each scrape 
df_final_listing = df_work_listings.loc[:,df_work_listings.columns.isin(cols_change_with_time + ['id','scrape_date'])].copy()
# Assign the quarter
df_final_listing['quarter'] = df_final_listing['scrape_date'].apply(assign_quater)

# Join final dataframe with general info dataframe
df_final_listing = df_final_listing.merge(df_listing_geninfo, how = 'left', on = ['id'])
df_final_listing.drop(columns='scrape_date_y', inplace = True)
df_final_listing.rename(columns = {'scrape_date_x' : 'scrape_date'}, inplace = True)
df_final_listing.shape

(28135, 48)

In [59]:
df_final_listing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28135 entries, 0 to 28134
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           28135 non-null  int64
 1   host_response_time           25142 non-null  object
 2   host_response_rate           25142 non-null  object
 3   host_acceptance_rate         25843 non-null  object
 4   host_is_superhost            27893 non-null  object
 5   host_listings_count          27814 non-null  float64
 6   host_total_listings_count    27814 non-null  float64
 7   amenities                    28135 non-null  object
 8   has_availability             28135 non-null  object
 9   availability_30              28135 non-null  int64
 10  availability_60              28135 non-null  int64
 11  availability_90              28135 non-null  int64
 12  availability_365             28135 non-null  int64
 13  number_of_reviews            28135 non-null  int64
 14  review_scores_rating         24738 non-null  float64
 15  review_scores_accuracy       24692 non-null  float64
 16  review_scores_cleanliness    24692 non-null  float64
 17  review_scores_checkin        24688 non-null  float64
 18  review_scores_communication  24692 non-null  float64
 19  review_scores_location       24688 non-null  float64
 20  review_scores_value          24688 non-null  float64
 21  instant_bookable             28135 non-null  object
 22  scrape_date                  28135 non-null  object
 23  quarter                      28135 non-null  object
 24  name                         28134 non-null  object
 25  description                  27972 non-null  object
 26  neighborhood_overview        20257 non-null  object
 27  picture_url                  28135 non-null  object
 28  host_id                      28135 non-null  int64
 29  host_name                    27762 non-null  object
 30  host_since                   27762 non-null  datetime64[ns]
 31  host_location                24504 non-null  object
 32  host_about                   19506 non-null  object
 33  host_neighbourhood           18339 non-null  object
 34  host_verifications           28135 non-null  object
 35  host_identity_verified       27762 non-null  object
 36  neighbourhood                20257 non-null  object
 37  neighbourhood_cleansed       28135 non-null  object
 38  latitude                     28135 non-null  float64
 39  longitude                    28135 non-null  float64
 40  property_type                28135 non-null  object
 41  room_type                    28135 non-null  object
 42  accommodates                 28135 non-null  int64
 43  bathrooms_text               28120 non-null  object
 44  bedrooms                     26846 non-null  float64
 45  beds                         27979 non-null  float64
 46  minimum_nights               28135 non-null  int64
 47  maximum_nights               28135 non-null  int64
dtypes: datetime64[ns](1), float64(13), int64(10), object(24)
memory usage: 10.5+ MB

In [60]:
df_final_listing.head()

,id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,amenities,has_availability,availability_30,...,latitude,longitude,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,minimum_nights,maximum_nights
0,6422,within a few hours,100%,0%,t,0.0,0.0,"[""Microwave"", ""Wifi"", ""Lock on bedroom door"", ...",t,0,...,36.17315,-86.73581,Private room in home,Private room,2,1 private bath,2.0,3.0,30,365
1,39870,within a few hours,100%,54%,t,2.0,2.0,"[""Microwave"", ""Keypad"", ""Wifi"", ""Essentials"", ...",t,8,...,36.12523,-86.81278,Private room in home,Private room,2,1 private bath,1.0,1.0,1,1125
2,72906,within an hour,100%,100%,t,1.0,1.0,"[""Microwave"", ""Essentials"", ""Refrigerator"", ""H...",t,2,...,36.13122,-86.80066,Entire rental unit,Entire home/apt,2,1 bath,2.0,2.0,2,7
3,258817,within an hour,100%,46%,t,13.0,13.0,"[""Microwave"", ""Keypad"", ""Wifi"", ""Essentials"", ...",t,19,...,36.16249,-86.58988,Private room in home,Private room,2,1 private bath,1.0,2.0,30,365
4,289242,within an hour,100%,46%,t,13.0,13.0,"[""Microwave"", ""Keypad"", ""Wifi"", ""Essentials"", ...",t,19,...,36.16102,-86.59207,Private room in home,Private room,1,1 shared bath,1.0,3.0,30,365

In [61]:
# List of id's with no availability in first scrape
first_scrape_noavail = df1[df1['has_availability'] == 'f']['id'].tolist()
# List of id's with no availability in second scrape
second_scrape_noavail = df2[df2['has_availability'] == 'f']['id'].tolist()
# List of id's with no availability in third scrape
third_scrape_noavail = df3[df3['has_availability'] == 'f']['id'].tolist()
# List of id's with no availability in fourth scrape
fourth_scrape_noavail = df4[df4['has_availability'] == 'f']['id'].tolist()
# fourth_scrape_noavail
print(len(first_scrape_noavail))
print(len(second_scrape_noavail))
print(len(third_scrape_noavail))
print(len(fourth_scrape_noavail))

52
165
142
137

In [62]:
# Get the count of the listings group by id and availability
df_temp = df_final_listing.groupby(['id','has_availability']).size().reset_index(name = 'count')
print(f'Initial temp dataframe size {df_temp.shape}')
# Remove those listing id's that appear twice as this will mean that in some scrapes it is available & in some scrapes it was not available (could be due to any reason)
df_temp.drop_duplicates(subset = ['id'],keep=False ,inplace=True)
print(f'The shape of temp df after removing duplicates {df_temp.shape}')
# Remove listings which were available in the scrapes in which they appear
idx_to_drop_all_t = df_temp[df_temp['has_availability'] == 't'].index
df_temp.drop(index=idx_to_drop_all_t, axis = 0, inplace = True)
# get the listings to remove from final consideration
listings_not_avail_atll = df_temp['id'].tolist()

# Keep only those listings that are available in atleast one of the scrape
df_final_listing = df_final_listing[~df_final_listing['id'].isin(listings_not_avail_atll)]
print(f'The shape of the final processed listing {df_final_listing.shape}')

Initial temp dataframe size (9727, 3)
The shape of temp df after removing duplicates (9493, 3)
The shape of the final processed listing (27966, 48)

In [63]:
# # Drop listings which has f as availability in all the scrapes
# df_temp = df_final_listing.groupby(['id','has_availability']).size().reset_index(name = 'count')
# # Get the listing id's whose availability was marked as f and appeared in all the scrapes (the calendar file for these listings will have all 365 days marked as f)
# listings_not_avail_atll = df_temp[(df_temp['has_availability'] == 'f') & (df_temp['count'] == 4)]['id'].tolist()

# # check in the calendar file also to strengthen the point
# print(calendar_df1[(calendar_df1['listing_id'].isin(listings_not_avail_atll)) & (calendar_df1['available'] == 't')])
# print(calendar_df2[(calendar_df2['listing_id'].isin(listings_not_avail_atll)) & (calendar_df2['available'] == 't')])
# print(calendar_df1[(calendar_df1['listing_id'].isin(listings_not_avail_atll)) & (calendar_df1['available'] == 't')])
# print(calendar_df1[(calendar_df1['listing_id'].isin(listings_not_avail_atll)) & (calendar_df1['available'] == 't')])

# idx_to_drop = df_final_listing.loc[df_final_listing['id'].isin(listings_not_avail_atll), :].index
# df_final_listing.drop(index= idx_to_drop , axis = 0, inplace = True)

In [64]:
# # Drop the listings which occurred only once in all the scrape and was marked as "f" in has_availability column
# df_temp = df_final_listing.groupby(['id']).size().reset_index(name = 'count')
# # Get the listing id that appeared only once
# l1 = df_temp[df_temp['count'] == 1]['id']
# # Out of those listings check which one's have f as availability
# idx_to_drop = df_final_listing.loc[(df_final_listing['id'].isin(l1)) & (df_final_listing['has_availability'] == 'f'),:].index
# print(df_final_listing.loc[idx_to_drop,['id','scrape_date']])
# df_final_listing.drop(index= idx_to_drop , axis = 0, inplace = True)

## Get the reviews data

In [65]:
reviews_df1 = pd.read_csv("./data/2021-12-17/reviews1.csv", parse_dates=['date'])
reviews_df1['scrape_date'] = '2021-12-17'

reviews_df2 = pd.read_csv("./data/2022-03-20/reviews2.csv", parse_dates=['date'])
reviews_df2['scrape_date'] = '2022-03-20'

reviews_df3 = pd.read_csv("./data/2022-06-13/reviews3.csv", parse_dates=['date'])
reviews_df3['scrape_date'] = '2022-06-13'

# The source column is extra in this file. So just retrieve the columns that were listed in earlier scrapes
reviews_df4 = pd.read_csv("./data/2022-09-15/reviews4.csv", parse_dates=['date'])
reviews_df4['scrape_date'] = '2022-09-15'

df_merged_reviews = pd.concat([
    reviews_df1, reviews_df2, reviews_df3, reviews_df4
], axis = 0, ignore_index=True)

In [66]:
# Check how the reviews file look like for the listings that are marked as f in the scrapes
df_merged_reviews[df_merged_reviews['listing_id'].isin(listings_not_avail_atll)].to_csv("listings_na_scrapes.csv", index=False)
## it has been checked that the listings that were marked as f in all the scrape files, for them the latest reviews are not available, and also keeping them would not be a good idea as they are not available
## any more
reviews_idx_to_drop = df_merged_reviews.loc[df_merged_reviews['listing_id'].isin(listings_not_avail_atll), :].index
df_merged_reviews.drop(index= reviews_idx_to_drop, inplace = True)

In [67]:
# drop the rows with no comments
df_merged_reviews.dropna(subset=['comments'], inplace = True)

In [68]:
# Check the records in the reviews file where text contains automated posting
df_merged_reviews[df_merged_reviews['comments'].str.contains('automated posting')].to_csv("automation_text.csv", index=False)
# The automated posting text has been associated with the cancellations. Also the last automated posting was on March 2020 (checked in the file created). This will not be useful for any sentiment analysis
drop_idx = df_merged_reviews.loc[df_merged_reviews['comments'].str.contains('automated posting'), :].index
df_merged_reviews.drop(index= drop_idx, inplace = True)

In [69]:
# df_merged_reviews[df_merged_reviews['comments'].str.contains('auto')].to_csv("random.csv", index=False)
# df_merged_reviews.to_csv("rad1.csv", index=False)

In [70]:
# check if there are any listings whose reviews are only until 2021-12-16
# get the max date for each listing
# df_merged_reviews.groupby('listing_id', as_index=False)['date'].max().to_csv('max_dates_each_listing.csv', index=False)

# get all the listings with max_date < 2021-09-31
df_listings_maxdate = df_merged_reviews.groupby('listing_id', as_index=False)['date'].max()

l2 = df_listings_maxdate[df_listings_maxdate['date'] <= pd.to_datetime('2021-09-30')]['listing_id'].tolist()

# check if there are listings which are in reviews but not in listings file
set(l2) - set(df_final_listing['id'].tolist())

set()

In [71]:
print(f'The shape of reviews file before removing duplicate records {df_merged_reviews.shape}')

The shape of reviews file before removing duplicate records (1752553, 7)

In [72]:
# As all the scrapes for reviews start from 2009, we need to keep the latest one --> I have found one weird thing that on the same date there were multiple comments given by the same person, and those
# records have not been deleted with drop duplicates. The comment text was different, it feels like instead of editing what they have written, they decide to create new comment and add more text.
df_merged_reviews = df_merged_reviews.sort_values(by = ['scrape_date'], ascending=False).drop_duplicates(subset=['listing_id','id','date','reviewer_id'], keep = 'first', ignore_index=True)
df_merged_reviews.shape

(547803, 7)

In [78]:
df_merged_reviews.listing_id.max()

709952316127237292

In [73]:
# Download the reviews data with proper listings, to process it further
df_merged_reviews.to_csv('./data_after_processing/reviews_related_data/processed_reviews.csv', index=False)

In [74]:
df_final_listing.shape

(27966, 48)

In [75]:
df_final_listing1 = df_final_listing.copy()

# Use df_final_listing1 to remove duplicates listing id, as this would be just used lat long purpose
df_final_listing1 = df_final_listing1.sort_values(by='scrape_date', ascending=False).drop_duplicates(subset = 'id' ,keep='first' )
df_final_listing1.shape

(9558, 48)

In [79]:
# Now this will be saved as a file
df_final_listing1.to_csv('./data_after_processing/listings_geographical_data2.csv',index=False)

**Rough Work**

In [80]:
df_listings[df_listings['id']==16392224][['has_availability', 'scrape_date','neighbourhood_cleansed','name']]

,has_availability,scrape_date,neighbourhood_cleansed,name
937,f,2021-12-17,District 25,"Cozy, Loft-Style Getaway in 12 South"
7278,f,2022-03-20,District 25,"Cozy, Loft-Style Getaway in 12 South"

In [81]:
# df_listings[df_listings['id']==513664][['listing_url','has_availability','neighbourhood_cleansed','name']]
# df_listings[df_listings['id']==6422][['listing_url','has_availability','neighbourhood_cleansed','name']]

In [82]:
# see if there are listings to whom less than 5 people gave the reviews 
df_merged_reviews = pd.read_csv('./data_after_processing/reviews_related_data/processed_reviews.csv')
# df_merged_reviews['listing_id'] = df_merged_reviews['listing_id'].astype('string')
df_t1 = df_merged_reviews.groupby('listing_id', as_index=False)['comments'].count().rename(columns = {'comments':'count'})
listid_less_reviews = df_t1[df_t1['count'] < 2]['listing_id'].tolist()

In [83]:

df_merged_reviews[df_merged_reviews['listing_id'].isin(listid_less_reviews)][['listing_id','date']]

        listing_id        date
7318      16795349  2018-05-20
38157     13496959  2016-06-27
54240     13671915  2017-10-08
72503     21741057  2021-08-31
81153     23016197  2021-03-11
...            ...         ...
544120    45242131  2021-10-20
544121    45181383  2020-11-01
544373    44683388  2021-09-16
544795    24697042  2018-05-17
547058    33129470  2019-04-28

[490 rows x 2 columns]

In [84]:
df_t2 = pd.concat([
    pd.read_csv('./data/2021-12-17/listings1.csv'),
    pd.read_csv('./data/2022-03-20/listings2.csv'),
    pd.read_csv('./data/2022-06-13/listings3.csv'),
    pd.read_csv('./data/2022-09-15/listings4.csv')
], ignore_index=True)

df_t2[df_t2['id'].isin(listid_less_reviews)].to_csv('rad3.csv')

In [85]:
df_t2[df_t2['id']==33129470]

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,source
2464,33129470,https://www.airbnb.com/rooms/33129470,20211217003604,2021-12-17,Downtown Nashville Shotgun-Style Home,Beautiful 2-level home located in Downtown Nas...,Across the street from Germantown which offers...,https://a0.muscache.com/pictures/a9296ca2-99a6...,55042788,https://www.airbnb.com/users/show/55042788,...,4.0,4.0,NaN,t,1,1,0,0,0.03,NaN