In [22]:
#goal
#determine "must-have" amenities that result in a great customer experience and ultimately a good review score

#assumptions
#amenities are assumed to exist for all time review data despite the possibiliy of hosts adding/removing amenities over time

In [23]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MultiLabelBinarizer

In [24]:
df = pd.read_csv(r'../data/2022-09-15/listings.csv')
df['amenities'] = df['amenities'].apply(lambda x: pd.eval(x)) #read_csv was importing 'amenities' as a string - this converts it to a series of lists
display(df.info(verbose=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7733 entries, 0 to 7732
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            7733 non-null   int64
 1   listing_url                                   7733 non-null   object
 2   scrape_id                                     7733 non-null   int64
 3   last_scraped                                  7733 non-null   object
 4   source                                        7733 non-null   object
 5   name                                          7733 non-null   object
 6   description                                   7691 non-null   object
 7   neighborhood_overview                         5502 non-null   object
 8   picture_url                                   7733 non-null   object
 9   host_id                                       7733 non-null   int64
 10  host_url                                      7733 non-null   object
 11  host_name                                     7653 non-null   object
 12  host_since                                    7653 non-null   object
 13  host_location                                 6556 non-null   object
 14  host_about                                    5383 non-null   object
 15  host_response_time                            6889 non-null   object
 16  host_response_rate                            6889 non-null   object
 17  host_acceptance_rate                          7126 non-null   object
 18  host_is_superhost                             7732 non-null   object
 19  host_thumbnail_url                            7653 non-null   object
 20  host_picture_url                              7653 non-null   object
 21  host_neighbourhood                            5321 non-null   object
 22  host_listings_count                           7653 non-null   float64
 23  host_total_listings_count                     7653 non-null   float64
 24  host_verifications                            7733 non-null   object
 25  host_has_profile_pic                          7653 non-null   object
 26  host_identity_verified                        7653 non-null   object
 27  neighbourhood                                 5502 non-null   object
 28  neighbourhood_cleansed                        7733 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      7733 non-null   float64
 31  longitude                                     7733 non-null   float64
 32  property_type                                 7733 non-null   object
 33  room_type                                     7733 non-null   object
 34  accommodates                                  7733 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                7730 non-null   object
 37  bedrooms                                      7404 non-null   float64
 38  beds                                          7696 non-null   float64
 39  amenities                                     7733 non-null   object
 40  price                                         7733 non-null   object
 41  minimum_nights                                7733 non-null   int64
 42  maximum_nights                                7733 non-null   int64
 43  minimum_minimum_nights                        7732 non-null   float64
 44  maximum_minimum_nights                        7732 non-null   float64
 45  minimum_maximum_nights                        7732 non-null   float64
 46  maximum_maximum_nights                        7732 non-null   float64
 47  minimum_nights_avg_ntm                        7732 non-null   float64
 48  maximum_nights_avg_ntm                        7732 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              7733 non-null   object
 51  availability_30                               7733 non-null   int64
 52  availability_60                               7733 non-null   int64
 53  availability_90                               7733 non-null   int64
 54  availability_365                              7733 non-null   int64
 55  calendar_last_scraped                         7733 non-null   object
 56  number_of_reviews                             7733 non-null   int64
 57  number_of_reviews_ltm                         7733 non-null   int64
 58  number_of_reviews_l30d                        7733 non-null   int64
 59  first_review                                  6824 non-null   object
 60  last_review                                   6824 non-null   object
 61  review_scores_rating                          6824 non-null   float64
 62  review_scores_accuracy                        6813 non-null   float64
 63  review_scores_cleanliness                     6813 non-null   float64
 64  review_scores_checkin                         6812 non-null   float64
 65  review_scores_communication                   6813 non-null   float64
 66  review_scores_location                        6812 non-null   float64
 67  review_scores_value                           6812 non-null   float64
 68  license                                       0 non-null      float64
 69  instant_bookable                              7733 non-null   object
 70  calculated_host_listings_count                7733 non-null   int64
 71  calculated_host_listings_count_entire_homes   7733 non-null   int64
 72  calculated_host_listings_count_private_rooms  7733 non-null   int64
 73  calculated_host_listings_count_shared_rooms   7733 non-null   int64
 74  reviews_per_month                             6824 non-null   float64
dtypes: float64(24), int64(17), object(34)
memory usage: 4.4+ MB

None

In [25]:
df = df[['id','review_scores_rating', 'amenities','number_of_reviews']]
display(df.info(verbose=True))
#review_score_rating has nulls, will filtering on number_of_review > 0 will remove them? If not we should figure out why they're null.
df = df[df.number_of_reviews > 0]
display(df.info(verbose=True))
#filter worked, and now we have no nulls (amenities list can still have nulls, will look into later)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7733 entries, 0 to 7732
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    7733 non-null   int64
 1   review_scores_rating  6824 non-null   float64
 2   amenities             7733 non-null   object
 3   number_of_reviews     7733 non-null   int64
dtypes: float64(1), int64(2), object(1)
memory usage: 241.8+ KB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6824 entries, 0 to 7732
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    6824 non-null   int64
 1   review_scores_rating  6824 non-null   float64
 2   amenities             6824 non-null   object
 3   number_of_reviews     6824 non-null   int64
dtypes: float64(1), int64(2), object(1)
memory usage: 266.6+ KB

None

In [35]:
mlb = MultiLabelBinarizer()
amenities = pd.DataFrame(mlb.fit_transform(df['amenities']),columns=mlb.classes_, index=df.index)
print(amenities.shape)
display(amenities.head())
#appears to be thousands of amenities that can be custom entered by the host - we'll have to reduce this to the standard amenities airbnb provides

(6824, 2296)

,Beekman Fresh Air shampoo,GE stove,Small bluetooth speaker Bluetooth sound system,"""Everyone"" and a local non-profit bar of soap. body soap","""Everyone"" shampoo",1 burner portable induction glass stove top induction stove,1/2 size in kitchenette with separate freezer and mini fridge in one bedroom refrigerator,"100"" TV with Roku, Amazon Prime Video, Netflix, Apple TV, HBO Max","120"" HDTV with Apple TV, Netflix, premium cable, Amazon Prime Video","13"" TV",...,Yamaha Sound Bar Bluetooth sound system,Yuzu hand soap and hand lotion body soap,Zealios body soap,Zealios conditioner,Zealios shampoo,Zogics Citrus + Aloe Bodywash body soap,Zogics! shampoo,"Zogics: 3 in 1 (shampoo, body wash, hand soap): Citrus +Aloe body soap",Zogics: Citrus+Aloe shampoo,Zogics: Plant based conditioner infused with essential oils & botanical extracts conditioner
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
print(amenities.info(verbose=True))
#also appears to be a string encoding issue. Will debug this later

Exception in callback BaseAsyncIOLoop._handle_events(1356, 1)
handle: <Handle BaseAsyncIOLoop._handle_events(1356, 1)>
Traceback (most recent call last):
  File "c:\Users\Neo\AppData\Local\Programs\Python\Python310\lib\site-packages\jupyter_client\session.py", line 102, in json_packer
    ).encode("utf8")
UnicodeEncodeError: 'utf-8' codec can't encode characters in position 25011-25012: surrogates not allowed

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\Neo\AppData\Local\Programs\Python\Python310\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "c:\Users\Neo\AppData\Local\Programs\Python\Python310\lib\site-packages\tornado\platform\asyncio.py", line 189, in _handle_events
    handler_func(fileobj, events)
  File "c:\Users\Neo\AppData\Local\Programs\Python\Python310\lib\site-packages\zmq\eventloop\zmqstream.py", line 452, in _handle_events
    self._handle_recv()
  File "c:\Users\Neo\AppData\Local\Programs\Python\Python310\lib\site-packages\zmq\eventloop\zmqstream.py", line 481, in _handle_recv
    self._run_callback(callback, msg)
  File "c:\Users\Neo\AppData\Local\Programs\Python\Python310\lib\site-packages\zmq\eventloop\zmqstream.py", line 431, in _run_callback
    callback(*args, **kwargs)
  File "c:\Users\Neo\AppData\Local\Programs\Python\Python310\lib\site-packages\ipykernel\iostream.py", line 127, in _handle_event
    event_f()
  File "c:\Users\Neo\AppData\Local\Programs\Python\Python310\lib\site-packages\ipykernel\iostream.py", line 499, in _flush
    self.session.send(self.pub_thread, 'stream', content=content,
  File "c:\Users\Neo\AppData\Local\Programs\Python\Python310\lib\site-packages\jupyter_client\session.py", line 842, in send
    to_send = self.serialize(msg, ident)
  File "c:\Users\Neo\AppData\Local\Programs\Python\Python310\lib\site-packages\jupyter_client\session.py", line 716, in serialize
    content = self.pack(content)
  File "c:\Users\Neo\AppData\Local\Programs\Python\Python310\lib\site-packages\jupyter_client\session.py", line 110, in json_packer
    ).encode("utf8")
UnicodeEncodeError: 'utf-8' codec can't encode characters in position 25011-25012: surrogates not allowed